@{
    ViewBag.Title = "Diagramas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<NeedOfVigilante.Models.DiagramTable>

<div id="body_content" class="container-fluid">
    <div class="container-fluid containerDiagramSections">

        <div class="row">
            <div class="col-sm-4 columnas">
                <div class="fieldset">
                    <div class="titulo"><span>Diagramas</span></div>
                    <div class="row maintenanceRow">
                        <div class="col-xs-12 col-md-6 maintenancePanelSearch">
                            <input type="text" class="form-control" placeholder="Buscar Diagrama">
                        </div>
                        <div class="col-xs-12 col-md-6 maintenancePanel">
                            <button type="button" class="btn btn-info glyphicon glyphicon-plus" data-toggle="modal" id="createDiagramButton"></button>
                            <button type="button" class="btn btn-secondar glyphicon glyphicon-pencil" id="editDiagramButton"></button>
                            <button type="button" class="btn btn-danger glyphicon glyphicon-remove" id="deleteDiagramButton"></button>
                        </div>
                    </div>
                    <div class="row fieldsetContent">
                        <div class="col-xs-12">
                            <table id="DiagramsTable" class="table  table-striped  cell-bordered table-hover  table-condensed table-responsive">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nombre</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 columnas">
                <div class="fieldset">
                    <div class="titulo"><span>Elementos</span></div>
                    <div class="row maintenanceRow">
                        <div class="col-xs-12 col-md-6 maintenancePanelSearch">
                            <input type="text" class="form-control" placeholder="Buscar Elemento">
                        </div>
                        <div class="col-xs-12 col-md-6 maintenancePanel">
                            <button type="button" class="btn btn-info glyphicon glyphicon-plus" data-toggle="modal" id="createElementButton"></button>
                            <button type="button" class="btn btn-secondar glyphicon glyphicon-pencil" id="editElementButton"></button>
                            <button type="button" class="btn btn-danger glyphicon glyphicon-remove" id="deleteElementButton"></button>
                        </div>
                    </div>
                    <div class="row fieldsetContent">
                        <div class="col-xs-12">
                            <table id="elementsTable" class="table  table-striped  cell-bordered table-hover  table-condensed table-responsive">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>IdDiagrama</th>
                                        <th>Diagrama</th>
                                        <th>Pregunta</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 columnas">
                <div class="fieldset">
                    <div class="titulo"><span>Salidas</span></div>
                    <div class="row maintenanceRow">
                        <div class="col-xs-12 col-md-6 maintenancePanelSearch">
                            <input type="text" class="form-control" placeholder="Buscar Salida">
                        </div>
                        <div class="col-xs-12 col-md-6 maintenancePanel">
                            <button type="button" class="btn btn-info glyphicon glyphicon-plus" data-toggle="modal" id="createOutcomeButton"></button>
                            <button type="button" class="btn btn-secondar glyphicon glyphicon-pencil" id="editOutcomeButton"></button>
                            <button type="button" class="btn btn-danger glyphicon glyphicon-remove" id="deleteOutcomeButton"></button>
                        </div>
                    </div>
                    <div class="row fieldsetContent">
                        <div class="col-xs-12">
                            <table id="outcomesTable" class="table  table-striped  cell-bordered table-hover  table-condensed table-responsive">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>idElement</th>
                                        <th>outputType</th>
                                        <th>idExpression</th>
                                        <th>Valor</th>
                                        <th>idNextElement</th>
                                        <th>Próxima Pregunta</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="modal fade" id="ResultsMesaggesModal" tabindex="-1" role="dialog" aria-labelledby="ResultsMesaggesModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ResultsMesaggesModalLabel">Resultados Evaluación</h5>
                <button type="button" class="close closeModal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formularioResultsMesagges" method="post">
                    <div class="form-group">
                        <div class="row officeTableDialog">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <table id="ResultsMesaggesTable" class="table display table-striped table-bordered table-hover table-responsive">
                                    <thead>
                                        <tr>
                                            <th>Id Diagrama</th>
                                            <th>Nombre Diagrama</th>
                                            <th>Id Oficina</th>
                                            <th>Nombre Oficina</th>
                                            <th>Resultado</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary closeModal" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createDiagramModal" tabindex="-1" role="dialog" aria-labelledby="createDiagramLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DiagramModalLabel">Crear Diagrama</h5>
                <button type="button" class="close closeModal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formularioCreateDiagram" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nombre" id="inputDiagramName" name="inputDiagramName" required><br />
                        <br />
                        <div class="row officeTableDialog">
                            <div class="col-xs-12">
                                <table id="OfficeTable" class="table display table-striped table-bordered table-hover table-responsive">
                                    <thead>
                                        <tr>
                                            <th>IdOficina</th>
                                            <th>Oficina</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary closeModal" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary" id="btnCreateDiagram">Guardar</button>
                <button type="submit" class="btn btn-primary" id="btnEditDiagram">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createElementModal" tabindex="-1" role="dialog" aria-labelledby="createElementLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ElementModalLabel">Crear Elemento</h5>
                <button type="button" class="close closeModal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formularioCreateElement" method="post">
                    <div class="form-group">

                        <label for="inputDiagramNameSelected">Diagrama:</label>
                        <input type="text" class="form-control" disabled id="inputDiagramNameSelected" name="inputDiagramNameSelected" required><br />

                        <label>Tipo de Elemento:</label><br />

                        <div id="elementTypeRadioButtonDiv" class="btn-group" data-toggle="buttons">
                            <label class="btn btn-info btn-rounded active">
                                <input type="radio" name="options" id="option1" value="Pregunta" checked>
                                Pregunta
                            </label>
                            <label class="btn btn-info btn-rounded">
                                <input type="radio" name="options" id="option2" value="Categoria">
                                Categoría
                            </label>
                            <label class="btn btn-info btn-rounded">
                                <input type="radio" name="options" id="option3" value="Resultado">
                                Resultado
                            </label>
                            <label class="btn btn-info btn-rounded">
                                <input type="radio" name="options" id="option4" value="Diagrama">
                                Diagrama
                            </label>
                        </div>
                        <br />

                        <input type="text" class="form-control" placeholder="Escriba pregunta" id="inputSearchElement" name="inputSearchElement" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary closeModal" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnCreateElement">Guardar</button>
                <button type="button" class="btn btn-primary" id="btnEditElement">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createOutcomeModal" tabindex="-1" role="dialog" aria-labelledby="createOutcomeLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="OutcomeModalLabel">Crear Salida</h5>
                <button type="button" class="close closeModal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formularioCreateOutcome" method="post">
                    <div class="form-group">

                        <br />
                        <label for="inputElementNameSelected">Elemento: </label>
                        <input type="text" class="form-control" disabled id="inputElementNameSelected" name="inputElementNameSelected" required>

                        <br />
                        <label for="inputExpressionType">Tipo Salida: </label>
                        <!--input type="text" class="form-control" id="inputExpressionType"-->
                        <br />
                        @Html.DropDownList("ExpressionTypes", "Seleccionar...")
                        <div id="ExpressionTypesDiv">
                            <div id="NumericValueDiv" class="hidden">
                                <br>
                                <label for="inputNumericValue">Valor: </label>
                                <input type="number" class="form-control " id="inputNumericValue" name="inputNumericValue" required>
                            </div>

                            <div id="AphabeticValueDiv" class="hidden">
                                <br>
                                @Html.DropDownList("YesOrNoType", "Seleccionar...")
                                <br>
                            </div>
                            <div id="ComparisonDiv" class="hidden">
                                <br>
                                <input type="text" class=" form-control OneThirdWidth" disabled="" value="x">
                                @Html.DropDownList("idComparisonOperator", (SelectList)ViewBag.OperatorSymbol)
                                <input type="number" class="form-control OneThirdWidth" id="inputknownValue" name="inputknownValue" required>
                                <br>
                                <br>
                            </div>
                            <div id="RangeDiv" class="hidden">
                                <br>
                                <input type="number" class="form-control OneFithWidth" id="inputFirstKnownValue" name="inputFirstKnownValue" required>
                                @Html.DropDownList("idFirstComparisonOperator", (SelectList)ViewBag.OperatorSymbol)
                                <input type="text" class="form-control OneFithWidth" id="inputRangeUnknownValue" disabled="" value="x">
                                @Html.DropDownList("idSecondComparisonOperator", (SelectList)ViewBag.OperatorSymbol)
                                <input type="number" class="form-control OneFithWidth" id="inputSecondknownValue" name="inputSecondknownValue" required>
                                <br>
                                <br>
                            </div>
                        </div>
                        <br>
                        <label for="inputNextElementId">Conectar con Elemento... </label>
                        <input type="text" class="form-control" placeholder="Seleccione pregunta" id="inputNextElementId" name="inputNextElementId" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary closeModal" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnCreateOutcome">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- CONFIRM DIALOG -->

<div id="modalDelete" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Confirmación</h4>
            </div>
            <div class="modal-body">
                <p>Dele click a confirmar para proceder a eliminar la entidad </p>
                <span id="nombreEntidadEliminar"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Descartar</button>
                <button type="button" class="btn btn-primary" id="btnEliminarModal">Eliminar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div id="domMessage" style="display: none;">
    <h1 class="spinnerText">Analizando inspecciones de oficinas...</h1>
    <svg width="250px" height="250px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-fidget-spinner" style="background: none;">
        <g transform="rotate(270 50 50)">
            <g transform="translate(50 50)">
                <g ng-attr-transform="scale({{config.r}})" transform="scale(0.8)">
                    <g transform="translate(-50 -58)">
                        <path ng-attr-fill="{{config.c2}}" d="M27.1,79.4c-1.1,0.6-2.4,1-3.7,1c-2.6,0-5.1-1.4-6.4-3.7c-2-3.5-0.8-8,2.7-10.1c1.1-0.6,2.4-1,3.7-1c2.6,0,5.1,1.4,6.4,3.7 C31.8,72.9,30.6,77.4,27.1,79.4z" fill="#fff"></path>
                        <path ng-attr-fill="{{config.c3}}" d="M72.9,79.4c1.1,0.6,2.4,1,3.7,1c2.6,0,5.1-1.4,6.4-3.7c2-3.5,0.8-8-2.7-10.1c-1.1-0.6-2.4-1-3.7-1c-2.6,0-5.1,1.4-6.4,3.7 C68.2,72.9,69.4,77.4,72.9,79.4z" fill="#f89420"></path>
                        <circle ng-attr-fill="{{config.c4}}" cx="50" cy="27" r="7.4" fill="#264e72"></circle>
                        <path ng-attr-fill="{{config.c1}}" d="M86.5,57.5c-3.1-1.9-6.4-2.8-9.8-2.8c-0.5,0-0.9,0-1.4,0c-0.4,0-0.8,0-1.1,0c-2.1,0-4.2-0.4-6.2-1.2 c-0.8-3.6-2.8-6.9-5.4-9.3c0.4-2.5,1.3-4.8,2.7-6.9c2-2.9,3.2-6.5,3.2-10.4c0-10.2-8.2-18.4-18.4-18.4c-0.3,0-0.6,0-0.9,0 C39.7,9,32,16.8,31.6,26.2c-0.2,4.1,1,7.9,3.2,11c1.4,2.1,2.3,4.5,2.7,6.9c-2.6,2.5-4.6,5.7-5.4,9.3c-1.9,0.7-4,1.1-6.1,1.1 c-0.4,0-0.8,0-1.2,0c-0.5,0-0.9-0.1-1.4-0.1c-3.1,0-6.3,0.8-9.2,2.5c-9.1,5.2-12,17-6.3,25.9c3.5,5.4,9.5,8.4,15.6,8.4 c2.9,0,5.8-0.7,8.5-2.1c3.6-1.9,6.3-4.9,8-8.3c1.1-2.3,2.7-4.2,4.6-5.8c1.7,0.5,3.5,0.8,5.4,0.8c1.9,0,3.7-0.3,5.4-0.8 c1.9,1.6,3.5,3.5,4.6,5.7c1.5,3.2,4,6,7.4,8c2.9,1.7,6.1,2.5,9.2,2.5c6.6,0,13.1-3.6,16.4-10C97.3,73.1,94.4,62.5,86.5,57.5z M29.6,83.7c-1.9,1.1-4,1.6-6.1,1.6c-4.2,0-8.4-2.2-10.6-6.1c-3.4-5.9-1.4-13.4,4.5-16.8c1.9-1.1,4-1.6,6.1-1.6 c4.2,0,8.4,2.2,10.6,6.1C37.5,72.8,35.4,80.3,29.6,83.7z M50,39.3c-6.8,0-12.3-5.5-12.3-12.3S43.2,14.7,50,14.7 c6.8,0,12.3,5.5,12.3,12.3S56.8,39.3,50,39.3z M87.2,79.2c-2.3,3.9-6.4,6.1-10.6,6.1c-2.1,0-4.2-0.5-6.1-1.6 c-5.9-3.4-7.9-10.9-4.5-16.8c2.3-3.9,6.4-6.1,10.6-6.1c2.1,0,4.2,0.5,6.1,1.6C88.6,65.8,90.6,73.3,87.2,79.2z" fill="#00aef0"></path>
                    </g>
                </g>
            </g>
            <animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1" dur="2s" begin="0s" repeatCount="indefinite"></animateTransform>
        </g></svg>
</div>
